<% const d = new Date()
let year = d.getFullYear() %>
<footer class="mt-10 p-3 bg-black text-white mx-[-12px]">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="/inv/type/8">Error Link</a>
</footer>