<nav class="bg-black text-white">
  <ul class="flex justify-around">
    <li class="p-3">Home</li>
    <li class="p-3">Custome</li>
    <li class="p-3">Sedan</li>
    <li class="p-3">SUV</li>
    <li class="p-3">Truck</li>
  </ul>
</nav>