<h1 class="text-2xl mt-5">Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="relative max-w-[900px] m-auto">
  <div class="">
    <img src="../images/vehicles/delorean.jpg" alt="logo" class="block m-auto">
  </div>
  <div class="absolute top-[30px] left-[10%] bg-[#e5e5e5] opacity-[0.8] p-3 leading-6 text-lg">
    <h2 class="">DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <button class="mt-3 px-4 py-2 bg-black text-white hover:bg-[#343434]" onClick="location.href='/'">Own Today</button>
  </div>
</div>
<div class="flex justify-between flex-wrap">
  <div class="flex flex-col min-w-[300px] justify-around">
    <h2 class="mt-10 text-xl">Delorian Upgrades</h2>
    <ul class="flex flex-wrap justify-around">
      <a href="#" class="min-w-[150px] text-center mt-6">
        <li>
          <img class="h-[70px] object-cover block m-auto" src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
          <p>Flux Capacitor</p>
        </li>
      </a>
      <a href="#" class="min-w-[150px] text-center mt-6">
        <li>
          <img class="h-[70px] object-cover block m-auto" src="../images/upgrades/flame.jpg" alt="Flame Decals">
          <p>Flame Decals</p>
        </li>
      </a>
      <a href="#" class="min-w-[150px] text-center mt-6">
        <li>
          <img class="h-[70px] object-cover block m-auto" src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
          <p>Bumper Stickers</p>
        </li>
      </a>
      <a href="#" class="min-w-[150px] text-center mt-6">
        <li>
          <img class="h-[70px] object-cover block m-auto" src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
          <p>Hub Caps</p>
        </li>
      </a>
    </ul>
  </div>
  <div class="min-w-[300px]">
    <h2 class="mt-10 text-xl mb-6">DMC Delorean Reviews</h2>
    <ul class="leading-10 text-l">
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm felling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
</div>  
