<% if (title) { %>
  <h1 class="mt-6 text-xl mb-6"><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>


<% if (errors) { %>
  <ul class="notice semi-bold">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inv/new-classification" method="post">
  <label for="classification_name" class="semi-bold">Classification Name:*<br></label><br>
  <input type="text" class="" id="className" name="classification_name" required pattern="[A-Za-z]+" minlength="1" placeholder="Alphabetic characters only"
   value="<%= locals.classification_name %>"><br>
  <button type="submit" class="regular bg-black text-white mt-3 py-2 px-4 mb-2" id="addClassButton">Add Classification</button>
</form>
